@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.w-85{
    width: 85%;
}
.fs-48{
    font-size: 48px;
}
.btn-white{
    color: #3F87F5;
    background: #FFFFFF;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 35px;
}

.carousel-item h1{
    font-weight: 600;
}
.carousel-item p{
    font-size: 16px;
    font-weight: 300;
}
